<div></div>
    <div><p><h3>{{title}}</h3></p></div>
    <div class="row collapse top-buffer">
        <div class="small-1 columns right">
            <button ng-click="search()" class="left button postfix">Busca</button>
        </div>
        <div class="small-3 columns right">
            <input type="text" placeholder="Busca" ng-model="searchString">
        </div>
    </div>
    <table class="small-offset-2 small-8 columns">
        <tr>
            <th></th>
            <th>Nome</th>
            <th>Categoria</th>
            <th>Preço</th>
        </tr>
        <tr ng-repeat="(key, item) in listaCursos | orderBy: filter.SortColumn: true">
            <td><img src="{{item.src_img}}"></td>
            <td><a ng-click="selectType(item)">{{item.nome}}</a></td>
            <td>{{item.categoria}}</td>
            <td>R$ {{item.preco|number: 2}}</td>            
        </tr>
    </table>
</div>