<div></div>
    <div><h3>{{title}}</h3></div>
    <table class="small-offset-2 small-8 columns">
        <tr>
            <th></th>
            <th>Nome</th>
            <th>Categoria</th>
            <th>Preço</th>
        </tr>
        <tr ng-repeat="(key, item) in listaCursos | orderBy: filter.SortColumn: true">
            <td><img src="{{item.src_img}}"></td>
            <td><a ng-click="selectType(item)">{{item.nome}}</a></td>
            <td>{{item.categoria}}</td>
            <td>R$ {{item.preco|number: 2}}</td>            
        </tr>
    </table>
</div>